.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.form-box {
    background-color: #ffffffdd;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    margin-top: 80px;
    text-align: center;
}

.form-box h2 {
    color: #c7a65adc;
    margin-bottom: 20px;
}

.form-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
}

.form-box .remember {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #c7a65adc;
}


.btnlogin{
    background-color: #5d1102;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btnlogin:hover {
    background-color: #7a2210;
    box-shadow: 0 5px 15px rgba(93, 17, 2, 0.4);
    color: #fff;
}


.register-text {
    margin-top: 20px;
    font-size: 14px;
}

.register-link {
    color: rgb(165, 71, 44);
    text-decoration: none;
    font-weight: bold;
}

.register-link:hover {
    text-decoration: underline;
}
